.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.pageButton {
  border: 1px solid transparent;
  background-color: white;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.pageButton:hover {
  border-color: #0f5132;
}

.pageButton:disabled {
  cursor: not-allowed;
  opacity: 0.8;
  pointer-events: none;
}

.active {
  border: 1px solid #0f5132;
}

.navButton {
  border: none;
  background: none;
  font-size: 14px;
  color: #0f5132;
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.navButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
